body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Задаем высоту равную высоте окна браузера */
  background-image: url(../image/scale_1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Располагаем изображение вверху */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Центрируем содержимое по центру экрана */
  height: 100%; /* Задаем высоту равную высоте окна браузера */
}

input {
  padding: 5px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 5px 10px;
  margin: 10px;
}

.result {
  margin-top: 20px;
}