<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <Complex Calculator>
    </title>
    <link rel="stylesheet" href="../static/css/style.css"/>"
</head>
<body>
<div class="container">
    <input type="text" id="real1" placeholder="Enter real part of first complex number">
    <input type="text" id="imaginary1" placeholder="Enter imaginary part of first complex number">
    <input type="text" id="real2" placeholder="Enter real part of second complex number">
    <input type="text" id="imaginary2" placeholder="Enter imaginary part of second complex number">
    <input type="text" id="operation" placeholder="Enter operation (+, -, /, *)">
    <button onclick="calculate()">Calculate</button>
    <div class="result" id="result"></div>
</div>
</body>
</html>